@import url('https://fonts.googleapis.com/css2?family=Allison&family=Qwitcher+Grypen&display=swap');
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, cursive, monospace;
  background-color: #282828;
  /* font-family: 'Allison', cursive;
font-family: 'Qwitcher Grypen', cursive; */
}
.overflow{
  overflow-y: hidden;
  height: 100vh;
  position: relative;
}
.head{
  font-family: 'Qwitcher Grypen', 'Allison', cursive;
  font-size: 48px;
  color: #ffb600;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.splashScreen{
  font-family: 'Qwitcher Grypen', 'Allison', cursive;
    font-size: 48px;
    width: 100vw;
    height: 100vh;
    color: #ffb600;
    position: absolute;
    top: 0;
    left: 0;
    background: #0d0d0d;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.all_cards {
  display: grid;
  grid-gap: 10px;
  padding: 1rem;
  max-width: 486px;
  margin: auto;
  margin-bottom: 60px;
  /* grid-template-columns: repeat(2,ifr); */
}

/*********** CARD *************/
.card {
  display: flex;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  color: #282828;
  background-color: #f1f1f1;
  cursor: move;
}
/* .card img{
  width: 300x;
  max-width: 80px;
  z-index: -1;
} */
.card a {
  color: #575757;
  text-decoration: none;
}
.card .image-icon {
  background: #d5d5d5;
  background: #dadada;
  color: #828282;
  width: 50px;
  height: 40px;
  display: grid;
  place-items: center;
  /* z-index: -1; */
}
.url-icon {
  color: #b3b3b3;
}
.card .url-details {
  padding-left: 10px;
  width: 100%;
  position: relative;
}
.card .url-details section:nth-child(1) {
  position: absolute;
  right: 4px;
  bottom: 1px;
  font-size: 11px;
  color: grey;
  text-align: right;
}
/*********** CARD *************/

/* FORM AND BUTTONS */
.form {
  display: flex;
}
.form input,
.input {
  /* margin-top: 6px; */
  padding: 8px;
}
.form .btn {
  width: 20%;
}
.btn {
  background-color: #ffb600;
  color: #fff;
  cursor: pointer;
}

.promptBtn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3px;
  margin-top: 10px;
}
.promptBtn button {
  width: 100%;
  padding: 8px 0;
  text-transform: capitalize;
  cursor: pointer;
  text-transform: capitalize;
}
/* FORM AND BUTTONS */
.btn-holder{
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: #282828;
}
/*********** add url *************/
.add-url {
  width: 50px;
  height: 50px;
  background-color: #ffb600;
  border-radius: 4px;
  margin: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
}
/*********** add url *************/

/*********** delete url icon*************/
.delete-url {
  width: 50px;
  height: 50px;
  background-color: #ff2600;
  border-radius: 4px;
  margin: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
/*********** delete url icon*************/

/*********** MODAL *************/
.modal {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #e3e3e3c4;
  /* max-width: 40vw; */
  height: 40vh;
  border-radius: 4px;
  place-items: center;
  padding: 20px;
  z-index: 2;
}
.modal-overlay {
  display: none;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.744);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.open {
  display: flex;
} /*open should always be after modal and overlay*/

.modal-close-btn {
  position: absolute;
  top: 2px;
  right: 6px;
  padding: 10px;
  cursor: pointer;
}

.modal-close-btn i {
  color: #828282;
}
/*********** MODAL *************/

/* ----------------------LOGOUT ELEMENTS----------------------- */
.logoutBar,
.bg {
  width: 59px;
  height: 5px;
  border-radius: 4px;
  background-color: #848484;
  position: fixed;
  top: 2px;
  right: 17px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  transition: 0.5s all;
}
.logoutBar input {
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
  cursor: pointer;
}
.logoutBtn {
  width: 60px;
  position: absolute;
  top: -32px;
  right: -5px;
  color: #ffb600;
  transition: 0.5s all;
  opacity: 0;
  padding: 4px 8px;
  border-radius: 4px;
}
.arrowUp {
  position: absolute;
  top: 50px;
  color: #fff;
  opacity: 0;
}

.logoutBar input:checked ~ .logoutBtn {
  background-color: rgb(40 40 40);
  opacity: 1;
  top: 7px;
  border-bottom: 2px solid #b4b4b4;
}
.logoutBar input:checked ~ .bg {
  width: 89px;
  height: 70px;
  right: 6px;
  background-color: rgb(130 130 130);
  border-bottom: 2px solid #000;
}
.logoutBar input:checked ~ .arrowUp {
  opacity: 1;
}
/* ----------------------LOGOUT ELEMENTS----------------------- */

/*********** MEDIA QUERIES *************/
@media (min-width: 768px) {
  .all_cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1200px;
  }
}
@media (max-width: 768px) {
  .add-url,
  .delete-url {
    width: 40px;
    height: 40px;
  }
}
/*********** MEDIA QUERIES *************/
